<h2>Template</h2><small>Dinamicos</small>
<hr>
<form
(ngSubmit)="guardar()"
autocomplete="off"
#miFormulario="ngForm"
>
  <div class="row">
    <div class="mb-3 row">
      <label class="col-sm-3 col-form-label">Nombre</label>
      <div class="col-sm-9">
        <input class="form-control" placeholder="nombre de la persona" required name="nombre" [ngModel]="persona.nombre">
        <span
        class="form-text text-danger" *ngIf="miFormulario.controls['nombre']?.errors && miFormulario.controls['nombre']?.touched ">
        Campo obligatorio
      </span>
      </div>
    </div>

    <div class="mb-3 row">
      <label class="col-sm-3 col-form-label">Agregar</label>
      <div class="col-sm-9">
        <div class="input-group">
          <input
          class="form-control"
          placeholder="Agregar juego favorito"
          [(ngModel)]="nuevoJuego"
          (keyup.enter)="agregarJuego()"
          name="nuevoJuego"
          required
          >
          <button class="btn btn btn-outline-primary" type="button" (click)="agregarJuego()">Agregar</button>
        </div>
      </div>
    </div>

    <div class="mb-3 row">
      <label class="col-sm-3 col-form-label">Favoritos</label>
      <div class="col-sm-9 mb-1">
        <div class="input-group" *ngFor="let juegos of persona.favoritos; let i = index">
          <input
          [(ngModel)]="juegos.nombre"
          name="favorito_{{i}}"
          class="form-control"
          required>
          <button
          class="btn btn btn-outline-danger"
          type="button"
          (click)="borrarFavorito(i)">Borrar</button>
        </div>
      </div>
    </div>




    <div class="row">
      <div class="col-sm-12">
        <button type="button" [disabled]="miFormulario.invalid" class="btn btn-primary float-end" (click)="guardar()">Guardar</button>
      </div>
    </div>
  </div>
</form>

<span>Persona</span>
<pre>{{persona  | json}}</pre>
