<div class="text-layout">
  <h1>Pipe Básicos</h1>
  <p>
    Pipes incluidos en Angular - Normalmente viene el CommonModule
  </p>
</div>
<div class="grid">
  <div class="col-4">
    <p-card
    header="Uppercase"
    [subheader]="nombreLower | uppercase"> <!-- Si la propiedad viene [] hace referencia al atributo -->
    {{nombreLower | uppercase }}


    </p-card>
  </div>
  <div class="col-4">
 <p-card
    header="lowecase"
    [subheader]="nombreLower | lowercase"> <!-- Si la propiedad viene [] hace referencia al atributo -->
    {{nombreUpper | lowercase }}
    </p-card>
  </div>
  <div class="col-4">
   <p-card
    header="Titlecase"
    [subheader]="nombreCompleto | titlecase"> <!-- Si la propiedad viene [] hace referencia al atributo -->
    {{nombreCompleto | titlecase }}

    </p-card>
  </div>
</div>

<div class="text-layout">
  <h1>Date | Fechas</h1>
  <p>
    Pipes para mostrar las fechas
  </p>
</div>

<div class="grid">
  <div class="col-6">
    <p-card>
      <ul>
        <li>fecha</li>
        <li>fecha | date</li>
        <li>fecha | date:'short'</li>
        <li>fecha | date:'long'</li>
        <li><b>Tarea</b> date:'MMMM'</li>
        <li><b>Tarea</b> date:'MMMM dd, yyyyy'</li>
      </ul>

      <hr>

      <ul>
      <li>fecha | date:'long':'GMT+1':'en'</li>
      <li>fecha | date:'long':'':'fr'</li>
      </ul>
    </p-card>
   </div>
   <div class="col-6">
    <p-card>
      <ul>
        <li>{{fecha}}</li>
        <li>{{fecha | date}}</li>
        <li>{{fecha | date:'short'}}</li>
        <li>{{fecha | date:'long'}}</li>
        <li>{{fecha | date:'MMMM'}}</li>
        <li>{{fecha | date:'MMMM dd, yyyy'}}</li>
      </ul>
      <hr>

      <ul>
       <li>{{fecha | date:'long':'GMT+1':'en'}}</li>
       <li>{{fecha | date:'long':'':'fr'}}</li>
      </ul>
    </p-card>
   </div>
  </div>
